


</div>
<!-- /.content-wrapper -->



<!-- Main Footer -->
<footer class="main-footer" style="text-align: center;">
    <strong>Copyright &copy;  <%= new Date().getFullYear() %> <a class="text-primary">Clemonic</a>.</strong>

    All rights reserved.

</footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- AdminLTE App -->
<script src="/js/adminlte.js"></script>



<!-- ChartJS -->
<script src="/plugins/chart.js/Chart.min.js"></script>


<!-- PAGE SCRIPTS -->

<script src="/js/datatables.min.js"></script>

<script src="/js/toastr.js"></script>
<script src="/js/bootstrap-select.js"></script>
</body>
</html>


<script>
    window.onload = function(){

        //click on push menu
        // $('#pushMenu').click();


        //datatables
        $('#myTable').DataTable({
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        } ); // ./datatable

        const mybtns  = document.querySelectorAll(".mybtn");
        const myforms  = document.querySelectorAll(".myform");

        for (const myform of myforms) {
            myform.onsubmit = function (){
                for (const mybtn of mybtns) {
                    mybtn.disabled = true;
                    mybtn.value = "Please wait..."
                }
            }
        }

        //toastr messages
        <%
            if (success_msg != ""){ %>

           toastr.success('<%= success_msg %>'); //Success messages

        <% } %>

        <%
        if (error_msg != ""){ %>

        toastr.error('<%= error_msg %>'); //Error messages

        <% } %>



        $('.multi-level-dropdown .dropdown-submenu > a').on("mouseenter", function(e) {
            var submenu = $(this);
            $('.multi-level-dropdown .dropdown-submenu .dropdown-menu').removeClass('show');
            submenu.next('.dropdown-menu').addClass('show');
            e.stopPropagation();
        });

        $('.multi-level-dropdown .dropdown').on("hidden.bs.dropdown", function() {
            // hide any open menus when parent closes
            $('.multi-level-dropdown .dropdown-menu.show').removeClass('show');
        });


    }
</script>