<%- include('../../layouts/adminHeader') %>

<br>

<h2 class="text-center text-cyan font-weight-bold"><span class="fas fa-money-bill"></span> Cash Account <span class="fas fa-money-bill"></span></h2>









<%- include('../../layouts/adminFooter') %>

