<%- include('../../layouts/adminHeader') %>

<br>

<h2 class="text-center text-cyan font-weight-bold"><span class="fas fa-money-bill"></span> Cash Account <span class="fas fa-money-bill"></span></h2>

<h4 class="text-center">Cash Account Balance is <b class="text-maroon">₵ <%= cash.balance.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')  %></b></h4>








<%- include('../../layouts/adminFooter') %>

