<%- include('../../layouts/adminHeader') %>

<br>

<h2 class="text-center text-cyan font-weight-bold"><span class="fas fa-money-bill"></span> Cash Account <span class="fas fa-money-bill"></span></h2>

<h3>Cash Account Balance is ₵ <%= cash.balance.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')  %></h3>








<%- include('../../layouts/adminFooter') %>

