<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clemonic</title>
    <link rel="stylesheet" href="/css/adminlte.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
</head>

<style>

    .container{
        margin-top: 8% !important;
    }

</style>

<body>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-gradient-success text-white"><b><span class="fas fa-user-friends"></span> Add A User</b></div>

                <div class="card-body">
                    <form method="POST" action="/users/register" class="myform">


                        <div class="form-group row">
                            <label for="firstName" class="col-md-4 col-form-label text-md-right"><b>First Name</b></label>

                            <div class="col-md-6">
                                <input id="firstName" type="text" class="shadow form-control" name="firstName" autocomplete="off" required  autofocus>


                                <span class="invalid-feedback error-message" role="alert">
                                        <strong>kkkkkkkl</strong>
                                    </span>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lastName" class="col-md-4 col-form-label text-md-right"><b>Last Name</b></label>

                            <div class="col-md-6">
                                <input id="lastName" type="text" class="shadow form-control" autocomplete="off" name="lastName" required>


                                <span class="invalid-feedback error-message" role="alert">
                                        <strong>kkkkkkkl</strong>
                                    </span>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="username" class="col-md-4 col-form-label text-md-right"><b>Username</b></label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="shadow form-control is-invalid" autocomplete="off" name="username" required>


                                <span class="invalid-feedback error-message" role="alert">
                                        <strong>dfssd</strong>
                                    </span>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="role" class="col-md-4 col-form-label text-md-right"><b>User Role</b></label>

                            <div class="col-md-6">
                                <select name="role" id="role" class="form-control" required>
                                    <option value=""></option>
                                    <option value="accountant">Accountant</option>
                                    <option value="admin">Admin</option>
                                </select>


                                <span class="invalid-feedback error-message" role="alert">
                                        <strong>dfssd</strong>
                                    </span>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right"><b>Password</b></label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="shadow form-control" name="password" required autocomplete="off">


                                <span class="invalid-feedback error-message" role="alert">
                                        <strong>dfgfd</strong>
                                    </span>

                            </div>
                        </div>



                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <input type="submit" value="Register" class="btn btn-success mybtn font-weight-bold">
                                <span><a href="" class="btn btn-secondary">Cancel</a></span>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function (){



        const mybtns  = document.querySelectorAll(".mybtn");
        const myforms  = document.querySelectorAll(".myform");

        for (const myform of myforms) {
            myform.onsubmit = function (){
                for (const mybtn of mybtns) {
                    mybtn.disabled = true;
                    mybtn.value = "Please wait..."
                }
            }
        }



    }
</script>

</body>
</html>